.card-detail{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.movie-details-long{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}